# Ignore virtual environments
.venv/

# Ignore Keras and TensorFlow model files
*.keras
*.h5
*.pb
*.ckpt

# Ignore compiled shared libraries
*.dylib
*.so

# Ignore Tensorflow huge extension files
*.whl
*.tar.gz
*.egg-info/

# Misc
.DS_Store
__pycache__/
*.zip
*.mov
*.mp4
*.avi
*.mkv
*.mp3
*.wav
